.MuiAccordionSummary-content {
    display: flex;
    justify-content: flex-start;
}

.MuiSvgIcon-root {
    color: #b78b4b;
}

.MuiTypography-body1 {
    line-height: 1.6rem;
    color: #1a1e66;
}

.MuiAccordion-root:before {
    height: 0 !important;
}
